<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBC - Modernization of Uzbekistan Building Code System</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="all.css">
    <link rel="stylesheet" type="text/css" href="course.css">
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.bundle.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script>
        console.log( <%= commentInfo[1].length %>)
    </script>
</head>
<body>
    <div id="main-header">
        <div class="title-first">
            <span class="main-title title-1">Modernization of </span>
        </div>
        <div class="title-second">
            <span class="main-title title-2">Uzbekistan Building Code(UBC) </span> <span class="main-title title-3">System</span>
        </div>
    </div>

    <div id="main-body">
        <div class="course-box container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% for (var i=1; i<=file_info.video.length-1; i++) { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading<%=i%>">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%=i%>" aria-expanded="false" aria-controls="flush-collapse<%=i%>"
                            onclick="streamVideo(<%=i%>)">
                            <div class="course-header w-90">
                                <div class="header-info header-title header-belong">
                                    <%= file_info.video[i].title %>
                                </div>
                                <div class="header-info header-name text-truncate">
                                    <%= file_info.video[i].name %> &nbsp; | &nbsp; <%= file_info.video[i].belong %>
                                </div>
                            </div>
                        </button>
                    </h2>

                    <div id="flush-collapse<%=i%>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%=i%>" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body course-body">
                            <video class="video-section ratio ratio-16x9 w-90" id="video<%=i%>" controls poster="./thumbnail/poster<%=i%>.png"></video>
                            <div class="horizonal-line"></div>

                            <a href="course/download/<%=i%>" class="attachment-section">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </i>
                                <span> download pdf </span>
                            </a>
                            <div class="horizonal-line"></div>
                            <div class="content-section">

                                <div class="content-submit">
                                    <form id="content" method="post" action="/course/create/<%=i%>/0">
                                        <div class="text-bar">
                                            <fieldset>
                                                <textarea name="content" type="text" class="form-control form-control-sm" placeholder="Add a comment..." required=""
                                                rows="1" onkeyup="textareaResize(this)" onclick="toggleCommentBar(<%=i%>, true)"
                                                ></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="submit-bar" id="submit-bar-no<%=i%>" style="display: none;">
                                            <fieldset>
                                                <button type="button" class="button button-cancle" onclick="toggleCommentBar(<%=i%>, false)">Cancel</button>
                                                <button type="submit" id="form-submit" class="button button-submit">Submit</button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>

                                <% for (var j=0; j<= commentInfo[i].comment.length-1; j++) { %>
                                <div class="content-item">
                                    <div class="content-name">
                                        <span class="badge rounded-pill bg-secondary"><%= commentInfo[i].comment[j].author %></span>
                                    </div>
                                    <div class="content-text">
                                        <%- commentInfo[i].comment[j].content.replace(/\n/g, '<br/>') %>
                                    </div>
                                    <div class="content-button">
                                        <button class="content-recommend"><img src="./img/hand-thumbs-up.svg"></button>
                                        <button class="content-reply" onclick="toggleReplyBar(<%=i%>, <%=j%>, true)">reply</button>
                                    </div>
                                </div>

                                <div class="content-submit reply" id="lecture-<%=i%>-comment-<%=j%>" style="display: none;">
                                    <form id="content" method="post" action="/course/create/<%=i%>/<%= commentInfo[i].comment[j].commentNo %>">
                                        <div class="text-bar">
                                            <fieldset>
                                                <textarea name="content" type="text" class="form-control form-control-sm" placeholder="Add a comment..." required=""
                                                rows="1" onkeyup="textareaResize(this)"
                                                ></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="submit-bar">
                                            <fieldset>
                                                <button type="button" class="button button-cancle" onclick="toggleReplyBar(<%=i%>, <%=j%>, false)">Cancel</button>
                                                <button type="submit" id="form-submit" class="button button-submit">Submit</button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>

                                    <% for (var k=0; k<= commentInfo[i].comment[j].reply.length-1; k++) { %>
                                    <div class="content-item reply">
                                        <div class="content-name">
                                            <span class="badge rounded-pill bg-secondary"><%= commentInfo[i].comment[j].reply[k].author %></span>
                                        </div>
                                        <div class="content-text">
                                            <%- commentInfo[i].comment[j].reply[k].content.replace(/\n/g, '<br/>') %>
                                        </div>
                                        <div class="content-button">
                                            <button class="content-recommend"><img src="./img/hand-thumbs-up.svg"></button>
                                            <button class="content-reply">reply</button>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="./script/videoPlayer.js"></script>
    <script src="./script/commentManager.js"></script>
    <script>
    </script>

    <div id="main-footer">
        <div class="logo-container">
            <% for (var i=1; i<=5; i++) { %>
            <img class="logo" src="img/logo<%=i%>.png">
            <% } %>
        </div>
    </div>
</body>
</html>