<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBC - Modernization of Uzbekistan Building Code System</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="all.css">
    <link rel="stylesheet" type="text/css" href="course.css">
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.bundle.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
    <div id="main-header">
        <div class="title-first">
            <span class="main-title title-1">Modernization of </span>
        </div>
        <div class="title-second">
            <span class="main-title title-2">Uzbekistan Building Code(UBC) </span> <span class="main-title title-3">System</span>
        </div>
    </div>

    <div id="main-body">
        <div class="course-box container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% for (var i=1; i<=video.length-1; i++) { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading<%= i %>">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= i %>" aria-expanded="false" aria-controls="flush-collapse<%= i %>"
                            onclick="streamVideo(<%=i%>)">
                            <div class="course-header w-90">
                                <div class="header-info header-title header-belong">
                                    <%= video[i].title %>
                                </div>
                                <div class="header-info header-name text-truncate">
                                    <%= video[i].name %> &nbsp; | &nbsp; <%= video[i].belong %>
                                </div>
                            </div>
                        </button>
                    </h2>

                    <div id="flush-collapse<%= i %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= i %>" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body course-body">
                            <video class="video-section ratio ratio-16x9 w-90" id="video<%= i %>" controls></video>
                            <div class="horizonal-line"></div>

                            <a href="course/download/<%=i%>" class="attachment-section"> 
                                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                                <span> download pdf </span>
                            </a>
                            <div class="horizonal-line"></div>
                            <div class="content-section">
                                <!--
                                    write-content / watch-content 로 해놓고 나중에 좋은 이름 떠오르면 수정하기
                                    임의로 grid 구조 만들기 - 숙제
                                    random image 사용해서 프로필사진 만들기
                                -->
                                <div class="write-content">

                                </div>
                                <div class="watch-content">

                                </div>
                                
                                <div class="content-header">

                                </div>
                                <div class="content-main">

                                </div>
                                <div class="content-footer">
                                    <div class="content-recommend"></div>
                                    <div class="content-reply"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="video_player.js"></script>
    <script src="comment_sender.js"></script>

    <div id="main-footer">
        <div class="logo-container">
            <% for (var i=1; i<=5; i++) { %>
            <img class="logo" src="img/logo<%=i%>.png">
            <% } %>
        </div>
    </div>
</body>
</html>